node_modules/
/dist/
/.env
/.env.local
/.env.*.local
/.vite/
/tsconfig.tsbuildinfo
/tsconfig.app.tsbuildinfo
/tsconfig.node.tsbuildinfo
/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem
*.key
.idea/
.vscode/
*.iml
coverage/
**/.DS_Store
**/Thumbs.db
